*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oxygen', sans-serif;;
    font-size: 16px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* --- --- HEADER --- --- */

header{
    background:url('/img/code.jpg') #0F2027;
    background-repeat: no-repeat;
    background-position: center;
    /*background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
    max-height: 450px;
}

header .menu{
    margin: 20px 0;
    text-align: right;
}

header .menu a{
    color: #d0e8f2;
    padding: 9px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
    margin-bottom: 5px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header .menu a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

header .contenedor-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 55px;
    margin-bottom: 125px;
}

header .contenedor-texto .texto{
    display: inline-block;
    padding: 20px 60px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header .contenedor-texto .texto h1{
    color: white;
    margin: 5px 0;
}

header .contenedor-texto .texto h2{
    color: whitesmoke;
    font-weight:lighter;
    margin: 0;
}

header .contenedor-texto .texto nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .profesion{
    font-size: 20px;
    line-break: 25px;
}

/* --- --- MAIN --- --- */

.main .contenedor{
    overflow: visible;
}

.main .acerca-de{
    text-align: center;
}

.main .acerca-de .foto{
    margin-top: -80px;
}

.main .acerca-de .foto img{
    vertical-align: top;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.1)
}

.main .acerca-de .texto{
    color: white;
    font-size: 1.2em;
    line-height: 30px ;
    font-weight: 500;
    width: 80%;
    margin: 25px auto;
}

.main .acerca-de .contenedor .texto .titulo{
    color: #42E2B8;
    font-size: 34px;
    font-weight:bold;
    margin-bottom: 40px;
    text-align: center;
}

.main .trabajos {
    /*background: rgba(192, 45, 45, 0.1);*/
    padding: 25px;
}

.main .trabajos .contenedor{
    overflow: hidden;
}

.main .trabajos .titulo{
    color:#42E2B8;
    font-size: 34px;
    font-weight:bold;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.main .trabajos .contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-proyectos .proyecto{
    width: 50%;
    margin-bottom: 50px;
}

.main .trabajos .contenedor-proyectos .proyecto .thumb{
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.main .trabajos .contenedor-proyectos .proyecto .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

.main .trabajos .contenedor-proyectos .proyecto .descripcion{
    text-align: center;
}

.main .trabajos .contenedor-proyectos .proyecto .descripcion .nombre-proyecto{
    background: #171515;
    width: auto;
    font-weight: bold;
    color: #d0e8f2;
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    box-shadow: -4px 4px 0 white;
}

.main .trabajos .contenedor-proyectos .proyecto .descripcion .categoria{
    font-size: 15px;
    color:#d0e8f2;
    margin-bottom: 25px;
    margin-top: -10px;
}


.main .trabajos .contenedor-proyectos .proyecto .descripcion a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#42E2B8;
    padding: 10px ;
    border-radius: 30px;
    font-weight: 500;
    margin-top: 20px;
    border: 2px solid #42E2B8;
}

.main .trabajos .contenedor-proyectos .proyecto .descripcion a:hover{
    color:#42E2B8;
    background: #171515;
    border: 2px solid #42E2B8;
}

.main .trabajos .contenedor-proyectos .proyecto .descripcion i{
    color: #42E2B8;
    font-size: 18px;
    display: inline-block;
}



/* --- --- HABILIDADES --- --- */

.main .habilidades {
    padding: 25px 0;
    padding-bottom: 60px;
}

.main .habilidades .contenedor{
    overflow: hidden;
}

.main .habilidades .titulo{
    color: #42E2B8;
    font-size: 34px;
    font-weight:bold;
    margin-bottom: 70px;
    text-align: center;
}

.main .habilidades .contenedor-habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.main .habilidades .contenedor-habilidades .habilidad{
    width: 12%;
    padding: 0px 15px;
}

.main .habilidades .contenedor-habilidades .habilidad .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.main .habilidades .contenedor-habilidades .habilidad .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

.main .habilidades .contenedor-habilidades .habilidad .descripcion{
    text-align: center;
}

.main .habilidades .contenedor-habilidades .habilidad .descripcion .nombre-proyecto{
    font-weight: bolder;
    color: #d0e8f2;
}

.main .habilidades .contenedor-habilidades .habilidad .descripcion .categoria{
    font-size: 14px;
    color: gray;
}

/* --- --- FOOTER --- --- */

footer .contenedor{
    width: 80%;
    padding: 25px;
    border-radius: 5px;
}

footer .contacto{
    padding: 10px 0px;
}

footer .contacto .titulo{
    color: #42E2B8;
    font-size: 34px;
    font-weight:bold;
    margin-bottom: px;
    text-align: center;
}

footer .contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 10px;
}

footer .contacto .formulario input[type="text"], input[type="email"], textarea{
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color:#643E35;
}


footer .contacto .formulario input[type="text"], input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    width: 100%;
    background: #222831;
    color:#42E2B8;
    border:none;
    border-radius: 25px;
    padding: 15px 50px;
    cursor: pointer;
    border: 2px solid #42E2B8;
    font-weight: 700;
}

footer .contacto .formulario .boton:hover{
    transition: 0.5s;
    background:#42E2B8;
    border: 2px solid #222831;
    color: #222831 ;
}


footer .redes-sociales{
    padding: 25px;
    display: flex;
    justify-content: center;
}


footer .redes-sociales a{
    color: whitesmoke;
    text-align: center;
    width: 60px;
    display: block;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 25px;
    margin: 0 5px;
}

footer .redes-sociales a.facebook:hover{
    transition: .7s;
    background: #067AEA;
}

footer .redes-sociales a.twitter:hover{
    transition: .7s;
    background: #00acee;
}

footer .redes-sociales a.linkedin:hover{
    transition: .7s;
    background: #0072b1;
}

footer .redes-sociales a.github:hover{
    transition: .7s;
    background: #171515;
}

footer .redes-sociales a.i{
    text-align: center;
    margin: auto;
}

footer .text{
    padding:0;
    margin: 0px 0;
    color: whitesmoke;
    text-align: center;
    font-weight: lighter;
}

footer .info{
    width:100% ;
    padding: 1px 0;
    margin: 0px 0;
    text-align: left;
    color: whitesmoke;
    font-weight: lighter;
}

/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px){
    header .menu{
        text-align: center;
    }

    .main .trabajos  .contenedor-proyectos .proyecto{
        width: 100%;
    }

    .main .habilidades .contenedor-habilidades .habilidad{
        width: 20%;
        padding: 0px 20px;
    }

    .main .trabajos {
        /*background: rgba(192, 45, 45, 0.1);*/
        padding: 20px;
    }
    
    .main .trabajos .contenedor{
        overflow: hidden;
    }
    
    .main .trabajos .titulo{
        color:#42E2B8;
        font-weight:bold;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .main .trabajos .contenedor-proyectos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    .main .trabajos .contenedor-proyectos .proyecto .thumb{
        width: 100%;
        margin-bottom: 40px;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .thumb img{
        width: 100%;
        vertical-align: top;
        border-radius: 5px;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion{
        text-align: center; 
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion .nombre-proyecto{
        background: #171515;
        width: 90%;
        font-weight: bold;
        color: #d0e8f2;
        font-size: 25px;
        display: inline-block;
        padding: 10px;
        box-shadow: -4px 4px 0 white;
        margin-top: 0px;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion .categoria{
        font-size: 15px;
        color:#d0e8f2;
        margin-bottom: 20px;
        margin-top: -10px;
    }
    
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion a{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#42E2B8;
        padding: 10px;
        border-radius: 30px;
        font-weight: 500;
        margin-top: 20px;
        border: 2px solid #42E2B8;
        display: block;
        margin: 20px 20px;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion a:hover{
        color:#42E2B8;
        background: #171515;
        border: 2px solid #42E2B8;
        display: block;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion i{
        color: #42E2B8;
        font-size: 18px;
        display: inline-block;
    }

    /* --- --- FOOTER --- --- */

    footer .contenedor{
        width: 90%;
        padding: 25px;
        border-radius: 5px;
    }

    footer .contacto .formulario textarea{
        width: 100%;
        height: 150px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 300px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px){

    header .menu {
        text-align: center;
        display: grid;
    }

    header .contenedor-texto .texto .nombre{
        font-size: 30px;
    }

    header .contenedor-texto .texto .profesion{
        font-size: 18px;
    }

    .main .trabajos {
        padding: 0px;
    }

    .main .trabajos .contenedor-proyectos .proyecto{
        width: 100%;
        margin-bottom: 25px;
        
    }

    .main .trabajos .contenedor-proyectos .proyecto .descripcion .nombre-proyecto{
        background: #171515;
        width: 90%;
        font-weight: bold;
        color: #d0e8f2;
        font-size: 25px;
        display: inline-block;
        padding: 10px;
        box-shadow: -4px 4px 0 white;
        margin-top: 20px;
    }

    .main .trabajos .contenedor-proyectos .proyecto .descripcion .categoria{
        font-size: 15px;
        color:#d0e8f2;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    
    .main .trabajos .contenedor-proyectos .proyecto .thumb{
        width: 100%;
        margin-bottom: 0px;
    }

    .main .trabajos .contenedor-proyectos .proyecto .descripcion a{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#42E2B8;
        padding: 10px ;
        border-radius: 30px;
        font-weight: 500;
        margin: 10px 15px;
        border: 2px solid #42E2B8;
        display: block;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion a:hover{
        color:#42E2B8;
        background: #171515;
        border: 2px solid #42E2B8;
        display: block;
    }
    
    .main .trabajos .contenedor-proyectos .proyecto .descripcion i{
        color: #42E2B8;
        font-size: 18px;
        display: inline-block;
    }

    .main .habilidades .contenedor-habilidades .habilidad{
        width: 25%;
        padding: 0px 15px;
    }

    footer .redes-sociales .contenedor{
        flex-wrap: wrap;
        padding: 10px;
    }

    footer .contacto .formulario input[type="text"], input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }

    footer .contacto .formulario input[type="text"], input[type="email"], textarea{
        border: 2px solid rgba(206, 206, 206, 1);
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 18px;
        color:#643E35;
    }
    
    
    footer .contacto .formulario input[type="text"], input[type="email"]{
        width: 100%;
        margin-bottom: 15px;
    }
    
    footer .contacto .formulario textarea{
        width: 100%;
        height: 150px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 300px;
        margin-bottom: 15px;
    }
    
    footer .contacto .formulario .boton{
        width: 100%;
        background: #222831;
        color:#42E2B8;
        border:none;
        border-radius: 25px;
        padding: 10px 50px;
        cursor: pointer;
        border: 2px solid #42E2B8;
        font-weight: 700;
    }
    
    footer .contacto .formulario .boton:hover{
        transition: 0.5s;
        background:#42E2B8;
        border: 2px solid #222831;
        color: #222831 ;
    }
    footer .info{
        text-align: center;
    }

}






